<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 col-md-4 mx-auto changes">
                <h1 class="text-center login-title my-5">Students Login Form</h1>
                <div class="account-wall">
                    <img class="profile-img" src="" alt="">
                    <form class="form-signin" action="/login" method="POST">
                        <input type="text" class="form-control" placeholder="Email" required name="email">
                        <input type="password" class="form-control mt-3" placeholder="password" required name="password">
                        <div class="center">
                            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
                            <label class="checkbox pull-left mt-3">
                                <input type="checkbox" value="remember-me">
                                Remember me
                            </label>
                            <a href="#" class="pull-right need-help">Need help?</a><span class="clearfix"></span>
                        </div>
                    </form>
                </div>
                <a href="/register" class="text-center new-account">Create an account</a>
            </div>
        </div>
    </div>
</body>
</html>